
.e1_2 {
    background-color:rgba(255, 255, 255, 1);
    width:1440px;
    height:1024px;
    position:absolute;
}
.e1_3 {
    width:1321.607421875px;
    height:878px;
    position:absolute;
    left:42px;
    top:73px;
}
.e1_4 {
    width:286.97845458984375px;
    height:374px;
    position:absolute;
    left:0px;
    top:71px;
}
.e1_5 {
    background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width:286.97845458984375px;
    height:374px;
    position:absolute;
    left:0px;
    top:0px;
}
.e1_6 {
    width:137px;
    height:44px;
    position:absolute;
    left:7px;
    top:11px;
}
.e1_7 {
    color:rgba(0, 0, 0, 1);
    width:117px;
    height:24px;
    position:absolute;
    left:10px;
    top:10px;
    font-family:Inter;
    text-align:left;
    font-size:20px;
    letter-spacing:0;
}
.e1_8 {
    width:94px;
    height:44px;
    position:absolute;
    left:7px;
    top:206px;
}
.e1_9 {
    color:rgba(0, 0, 0, 1);
    width:74px;
    height:24px;
    position:absolute;
    left:10px;
    top:10px;
    font-family:Inter;
    text-align:left;
    font-size:20px;
    letter-spacing:0;
}
.e1_10 {
    width:94px;
    height:44px;
    position:absolute;
    left:7px;
    top:138px;
}
.e1_11 {
    color:rgba(0, 0, 0, 1);
    width:74px;
    height:24px;
    position:absolute;
    left:10px;
    top:10px;
    font-family:Inter;
    text-align:left;
    font-size:20px;
    letter-spacing:0;
}
.e1_12 {
    width:94px;
    height:44px;
    position:absolute;
    left:7px;
    top:76px;
}
.e1_13 {
    color:rgba(0, 0, 0, 1);
    width:74px;
    height:24px;
    position:absolute;
    left:10px;
    top:10px;
    font-family:Inter;
    text-align:left;
    font-size:20px;
    letter-spacing:0;
}
.e1_14 {
    width:969.6073608398438px;
    height:639px;
    position:absolute;
    left:352px;
    top:68px;
}
.e1_15 {
    width:970px;
    height:200px;
    position:absolute;
    left:0px;
    top:0px;
}
.e1_16 {
    background-color:rgba(234.81250405311584, 234.81250405311584, 234.81250405311584, 1);
    display: flex;
    width:919px;
    height:177px;
    left:0px;
    top:24px;
}
.e1_17 {
    background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width:200px;
    height:152px;
    left:16px;
    top:36px;
}
.e1_18 {
    transform: rotate(-0.12469138025148305deg);
    width:919.002197265625px;
    height:0px;
    left:0px;
    top:5px;
}

.e1_19 {
    width:195px;
    height:56px;

    left:230.60733032226562px;
    top:36px;
}
.e1_20 {
    color:rgba(0, 0, 0, 1);
    width:175px;
    height:36px;

    left:10px;
    top:10px;
    font-family:Inter;
    text-align:left;
    font-size:30px;
    letter-spacing:0;
}
.e1_21 {
    width:153px;
    height:35px;

    left:234.60733032226562px;
    top:141px;
}
.e1_22 {
    color:rgba(0, 0, 0, 1);
    width:133px;
    height:15px;

    left:10px;
    top:10px;
    font-family:Inter;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e1_23 {
    width:106px;
    height:44px;

    left:797.6072998046875px;
    top:144px;
}
.e1_24 {
    color:rgba(0, 0, 0, 1);
    width:86px;
    height:24px;

    left:10px;
    top:10px;
    font-family:Inter;
    text-align:right;
    font-size:20px;
    letter-spacing:0;
}
.e1_25 {
    width:87px;
    height:42px;

    left:723.6072998046875px;
    top:102px;
}

.e1_27 {
    width:87px;
    height:42px;

    left:808.6072998046875px;
    top:102px;
}
.menuBtn {
    color:rgba(255, 0, 0, 1);
    width:80px;
    height:30px;
    position:absolute;
    left:10px;
    top:10px;
    font-family:Inter;
    text-align:right;
    font-size:18px;
    letter-spacing:0;
}
.e1_29 {
    width:969.6073608398438px;
    height:201px;
    position:absolute;
    left:0px;
    top:219px;
}
.e1_30 {
    background-color:rgba(234.81250405311584, 234.81250405311584, 234.81250405311584, 1);
    width:919px;
    height:177px;
    position:absolute;
    left:0px;
    top:24px;
}
.e1_31 {
    background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width:200px;
    height:152px;
    position:absolute;
    left:16px;
    top:36px;
}
.e1_32 {
    transform: rotate(-0.12469138025148305deg);
    width:919.002197265625px;
    height:0px;
    position:absolute;
    left:0px;
    top:5px;
}

.e1_33 {
    width:195px;
    height:56px;
    position:absolute;
    left:230.60733032226562px;
    top:36px;
}
.e1_34 {
    color:rgba(0, 0, 0, 1);
    width:175px;
    height:36px;
    position:absolute;
    left:10px;
    top:10px;
    font-family:Inter;
    text-align:left;
    font-size:30px;
    letter-spacing:0;
}
.e1_35 {
    width:153px;
    height:35px;
    position:absolute;
    left:234.60733032226562px;
    top:141px;
}
.e1_36 {
    color:rgba(0, 0, 0, 1);
    width:133px;
    height:15px;
    position:absolute;
    left:10px;
    top:10px;
    font-family:Inter;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e1_37 {
    width:106px;
    height:44px;
    position:absolute;
    left:797.6072998046875px;
    top:144px;
}
.e1_38 {
    color:rgba(0, 0, 0, 1);
    width:86px;
    height:24px;
    position:absolute;
    left:10px;
    top:10px;
    font-family:Inter;
    text-align:right;
    font-size:20px;
    letter-spacing:0;
}
.e1_39 {
    width:87px;
    height:42px;
    position:absolute;
    left:723.6072998046875px;
    top:102px;
}
.e1_40 {
    color:rgba(255, 0, 0, 1);
    width:67px;
    height:22px;
    position:absolute;
    left:10px;
    top:10px;
    font-family:Inter;
    text-align:right;
    font-size:18px;
    letter-spacing:0;
}
.e1_41 {
    width:87px;
    height:42px;
    position:absolute;
    left:808.6072998046875px;
    top:102px;
}
.e1_42 {
    color:rgba(255, 0, 0, 1);
    width:67px;
    height:22px;
    position:absolute;
    left:10px;
    top:10px;
    font-family:Inter;
    text-align:right;
    font-size:18px;
    letter-spacing:0;
}
.e1_43 {
    width:969.6073608398438px;
    height:201px;
    position:absolute;
    left:0px;
    top:438px;
}

.e1_57 {
    width:93.14115142822266px;
    height:93px;
    position:absolute;
    left:790px;
    top:785px;
}
.e1_58 {
    transform: rotate(90.30228047789055deg);
    background-color:rgba(48.87499898672104, 48.87499898672104, 48.87499898672104, 1);
    width:27px;
    height:93px;
    position:absolute;
    left:0px;
    top:0px;
}
.e1_59 {
    background-color:rgba(48.87499898672104, 48.87499898672104, 48.87499898672104, 1);
    width:27px;
    height:93px;
    position:absolute;
    left:0px;
    top:0px;
}
.e1_60 {
    width:112px;
    height:50px;
    position:absolute;
    left:352px;
    top:0px;
}

.e1_61 {
    color:rgba(65.81120699644089, 173.18750202655792, 0, 1);
    width:92px;
    height:30px;
    position:absolute;
    left:10px;
    top:10px;
    font-family:Inter;
    text-align:left;
    font-size:25px;
    letter-spacing:0;
}
