<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 부트스트랩-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/review_write.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <!-- Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/common.js"></script>

    <title>리뷰 수정 페이지</title>
    <script>
        const jwtToken = getJwtFromCookie();
        let orderId = [[${order_id}]];
        let reviewId = [[${review_id}]];
        $(document).ready(function () {

            showButtons();
            console.log("Order Id :" + orderId);
            console.log("Review Id :" + reviewId);
            getOrder(orderId);
        })

        function getOrder(id) {
            $.ajax({
                type: 'GET',
                url: `/api/orders/${id}`,
                contentType: 'application/json',
                success: function (response) {
                    let order = response['data'];
                    console.log(order)
                    addOrderHTML(order);
                    getCart(orderId);
                }
            })
        }

        function addOrderHTML(order) {
            $('.order-info-container').empty();
            let imagehtml
            if (order.image_src == null) {
                imagehtml = `<div class="profile-image">
            <img src="/image/spring_letan.png" class="image"/>`
            } else {
                imagehtml = `<div class="profile-image">
            <img src="${order.image_src}" class="image"/>`
            }
            let tempHtml = `<div class="order-date">
                <h5 id="date">주문일: ${order.createdAt}</h5>
            </div>
        </div>

        <div class="order-info">
            <div class="order-menu-info">
                <h1 id="shopName">${order.shopname}</h1>
                <div class="cart">
                    <h5>메뉴, 수량, 가격</h5>
                </div>
            </div>
        </div>

        <div class="payment-request-container">
            <div class="payment-container">
                <h3>결제 방법</h3>
                <p>${order.paymentMethod}</p>
                <p></p>
            </div>
            <div class="request-container">
                <h3>요청 사항</h3>
                <p>${order.request}</p>
                <p>주문자: ${order.memberId}</p>
            </div>
        </div>`
            $('.order-info-container').append(imagehtml).append(tempHtml);
        }

        function getCart(id) {
            $.ajax({
                type: 'GET',
                url: `/api/carts/orders/${id}`,
                contentType: 'application/json',
                headers: {
                    "Authorization": jwtToken,
                },
                success: function (response) {
                    console.log(response)
                    $('.order-menu-info').empty();
                    let title_html = `<h1 id="shopName">${response[0]['shopname']}</h1>`;
                    $('.order-menu-info').append(title_html);
                    for (let i = 0; i < response.length; i++) {
                        let cart_html = `<p>${response[i]['menuname']} | ${response[i]['amount']} 개 | 개당 ${response[i]['price']}원</p>`
                        $('.order-menu-info').append(cart_html);
                    }
                    getOneReviewContents(reviewId);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert("주문에 해당하는 카트목록을 조회하는데 오류가 발생했습니다.");
                }
            })
        }

        //리뷰 수정을 위해 기존 작성된 리뷰의 contents 가져오기
        function getOneReviewContents(reviewId) {
            $.ajax({
                type: 'GET',
                url: `/api/reviews/${reviewId}`,
                contentType: 'application/json',
                success: function (response) {
                    console.log(response)
                    let ex_content = response['data']['contents'];
                    addHTMLContents(ex_content);
                }
            })
        }

        function addHTMLContents(ex_contents) {
            $('.review-content-container').empty();
            let contentHtml = `<textarea id="review-content" rows="10">${ex_contents}</textarea>`;
            $('.review-content-container').append(contentHtml);
        }


        //리뷰 수정
        function updateReview() {
            let contents = $('#review-content').val();
            if (isValidContents(contents) == false) {
                return;
            }
            let data = {
                'reviewId': [[${review_id}]], 'contents': contents
            };
            $.ajax({
                type: "PUT",
                url: "/api/reviews",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert(response['message']);
                    //TODO 멤버 찜목록 페이지로 이동 // 일단은 홈페이지로 이동하도록 함.
                    window.location.href = "/";
                }
            })
        }
    </script>
</head>
<body>
<div class="containers">
    <div class="order-info-container">
        <div class="profile-image">
            <img src="/image/spring_letan.png" class="image"/> <!--가게 디폴트 이미지 -->
            <div class="order-date">
                <h5>2022. 6. 1 (수)</h5>
            </div>
        </div>

        <div class="order-info">
            <div class="order-menu-info">
                <h1>60계 치킨 안양호계점</h1>
                <h5>장스 치킨 1개 22,900</h5>
                <h5>치킨치즈볼 5개 22,900</h5>
            </div>
        </div>

        <div class="payment-request-container">
            <div class="payment-container">
                <h3>결제 방법</h3>
                <p>현장 카드 결제</p>
            </div>
            <div class="request-container">
                <h3>요청 사항</h3>
                <p>벨 누르지 말아주세요 현관 비밀번호 123123</p>
            </div>
        </div>
    </div>
    <h1 style="margin-left:10%">리뷰 수정</h1>
    <div class="review-content-container">
        <textarea id="review-content" rows="10">${ex_contents}</textarea>
    </div>
    <div class="review-btn-container">
        <button type="button" class="btn btn-success" onclick="updateReview()">수정 완료</button>
        <button type="button" class="btn btn-success" onclick="history.back()">취소</button>
    </div>
</div>
<div class="footer">
    <div th:replace="~{/fragments/footer.html::fragment-footer-default}"></div>
</div>

</body>
</html>