<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 1440px; height: 1024px; position: relative; transform: rotate(180deg); transform-origin: 0 0; background: white">
    <div class="SideButtonGroup2"
         style="width: 270px; height: 245px; left: 1368px; top: 517px; position: absolute; transform: rotate(180deg); transform-origin: 0 0">
        <div class="Base"
             style="width: 270px; height: 245px; left: 0px; top: 0px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; background: #F6F7F8"></div>
        <div class="RecommendRestaurants"
             style="left: -20px; top: -19px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #22262A; font-size: 18px; font-family: Poppins; font-weight: 500; word-wrap: break-word">
            Recommend Restaurants
        </div>
        <div class="Cats"
             style="width: 233.10px; height: 149px; left: -20px; top: -71px; position: absolute; transform: rotate(180deg); transform-origin: 0 0">
            <div class="BokChoy"
                 style="left: 0px; top: 0px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                Bok Choy
            </div>
            <div style="left: -213.10px; top: 0px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; opacity: 0.35; color: #22262A; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                99
            </div>
            <div class="GaiLai"
                 style="left: 0px; top: -42px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #1AC073; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                Gai Lai
            </div>
            <div style="left: -213.10px; top: -42px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #1AC073; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                99
            </div>
            <div class="MorningGlow"
                 style="left: 0px; top: -84px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                Morning Glow
            </div>
            <div style="left: -213.10px; top: -84px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; opacity: 0.35; color: #22262A; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                99
            </div>
            <div class="Okra"
                 style="left: 0px; top: -126px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                Okra
            </div>
            <div style="left: -213.10px; top: -126px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; opacity: 0.35; color: #22262A; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                99
            </div>
        </div>
    </div>
    <div class="SideButtonGroup1" style="width: 270px; height: 199px; left: 1098px; top: 681px; position: absolute">
        <div class="Base"
             style="width: 270px; height: 199px; left: 270px; top: 199px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; background: #F6F7F8"></div>
        <div style="left: 36px; top: 87px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; opacity: 0.35; color: #22262A; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
            23
        </div>
        <div style="left: 249.69px; top: 87px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #1AC073; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
            주문목록
        </div>
        <div style="left: 41px; top: 45px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; opacity: 0.35; color: #22262A; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
            125
        </div>
        <div style="left: 249.69px; top: 45px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
            메뉴관리
        </div>
        <div style="left: 249.69px; top: 129px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
            리뷰관리
        </div>
        <div style="left: 249px; top: 175px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #22262A; font-size: 18px; font-family: Poppins; font-weight: 500; word-wrap: break-word">
            가게매출관리
        </div>
    </div>
    <div class="OrderContainer"
         style="width: 930.86px; height: 619.97px; left: 150.14px; top: 225.47px; position: absolute">
        <div class="CartItem"
             style="width: 911.86px; height: 168.53px; left: 914.86px; top: 168.53px; position: absolute; transform: rotate(180deg); transform-origin: 0 0">
            <div class="Divider"
                 style="width: 911.86px; height: 3.41px; left: 0px; top: -165.12px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; background: #F6F7F8"></div>
            <div class="000"
                 style="width: 78px; height: 34.72px; left: -783px; top: -51.51px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
                900,000
            </div>
            <div class="Qty"
                 style="width: 90.41px; height: 58.50px; left: -604px; top: -39.94px; position: absolute; transform: rotate(180deg); transform-origin: 0 0">
                <div class="Rectangle39"
                     style="width: 90.41px; height: 58.50px; left: 0px; top: 0px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; background: #F6F7F8"></div>
                <div style="width: 21px; height: 24.31px; left: -34.95px; top: -16.02px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                    30
                </div>
            </div>
            <div class="ProductInfo"
                 style="width: 153.01px; height: 73.32px; left: -189px; top: -19.43px; position: absolute; transform: rotate(180deg); transform-origin: 0 0">
                <div style="width: 153.01px; height: 39.22px; left: 0px; top: 0px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                    후라이드 치킨
                </div>
                <div style="width: 153.01px; height: 34.10px; left: -0px; top: -39.22px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #929292; font-size: 12px; font-family: Lexend Deca; font-weight: 300; line-height: 20px; word-wrap: break-word">
                    ㄹㅇㄴㅁㄹㅇㄴㅁㄻㄴㅇㄻㅇㄴ
                </div>
            </div>
            <img class="HuchamFried1"
                 style="width: 121.27px; height: 132.73px; left: -19.65px; top: 0px; position: absolute; transform: rotate(-179.61deg); transform-origin: 0 0"
                 src="https://via.placeholder.com/121x133"/>
        </div>
        <div class="CartItem"
             style="width: 911.86px; height: 168.53px; left: 911.86px; top: 384.53px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0">
            <div class="Divider"
                 style="width: 911.86px; height: 3.41px; left: 0px; top: -165.12px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; background: #F6F7F8"></div>
            <div class="000"
                 style="width: 78px; height: 34.72px; left: -783px; top: -51.51px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
                900,000
            </div>
            <div class="Qty"
                 style="width: 90.41px; height: 58.50px; left: -604px; top: -39.94px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0">
                <div class="Rectangle39"
                     style="width: 90.41px; height: 58.50px; left: 0px; top: 0px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; background: #F6F7F8"></div>
                <div style="width: 21px; height: 24.31px; left: -34.95px; top: -16.02px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                    30
                </div>
            </div>
            <div class="ProductInfo"
                 style="width: 153.01px; height: 73.32px; left: -189px; top: -19.43px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0">
                <div style="width: 153.01px; height: 39.22px; left: 0px; top: 0px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                    후라이드 치킨
                </div>
                <div style="width: 153.01px; height: 34.10px; left: -0px; top: -39.22px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; color: #929292; font-size: 12px; font-family: Lexend Deca; font-weight: 300; line-height: 20px; word-wrap: break-word">
                    ㄹㅇㄴㅁㄹㅇㄴㅁㄻㄴㅇㄻㅇㄴ
                </div>
            </div>
            <img class="HuchamFried1"
                 style="width: 121.27px; height: 132.73px; left: -19.65px; top: 0px; position: absolute; transform: rotate(-179.61deg); transform-origin: 0 0"
                 src="https://via.placeholder.com/121x133"/>
        </div>
        <div class="CartItem"
             style="width: 911.86px; height: 168.53px; left: 930.86px; top: 619.97px; position: absolute; transform: rotate(180deg); transform-origin: 0 0">
            <div class="Divider"
                 style="width: 911.86px; height: 3.41px; left: 0px; top: -165.12px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; background: #F6F7F8"></div>
            <div class="000"
                 style="width: 78px; height: 34.72px; left: -783px; top: -51.51px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
                900,000
            </div>
            <div class="Qty"
                 style="width: 90.41px; height: 58.50px; left: -604px; top: -39.94px; position: absolute; transform: rotate(180deg); transform-origin: 0 0">
                <div class="Rectangle39"
                     style="width: 90.41px; height: 58.50px; left: 0px; top: 0px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; background: #F6F7F8"></div>
                <div style="width: 21px; height: 24.31px; left: -34.95px; top: -16.02px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                    30
                </div>
            </div>
            <div class="ProductInfo"
                 style="width: 153.01px; height: 73.32px; left: -189px; top: -19.43px; position: absolute; transform: rotate(180deg); transform-origin: 0 0">
                <div style="width: 153.01px; height: 39.22px; left: 0px; top: 0px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #262626; font-size: 18px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
                    후라이드 치킨
                </div>
                <div style="width: 153.01px; height: 34.10px; left: -0px; top: -39.22px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #929292; font-size: 12px; font-family: Lexend Deca; font-weight: 300; line-height: 20px; word-wrap: break-word">
                    ㄹㅇㄴㅁㄹㅇㄴㅁㄻㄴㅇㄻㅇㄴ
                </div>
            </div>
            <img class="HuchamFried1"
                 style="width: 121.27px; height: 132.73px; left: -19.65px; top: 0px; position: absolute; transform: rotate(-179.61deg); transform-origin: 0 0"
                 src="https://via.placeholder.com/121x133"/>
        </div>
    </div>
    <div style="width: 93px; height: 37px; left: 1065px; top: 931px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; color: #1AC073; font-size: 25px; font-family: Lexend Deca; font-weight: 400; word-wrap: break-word">
        주문목록
    </div>
</div>
</body>
</html>